main.inner-scroll {
    display: flex;
    flex-direction: column;
}

ion-card-content {
    color: goldenrod;
}

.form-control {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
    color: black;
}