<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [style.font-size.rem]="2">
      Page d'ajout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="RecipeForm()">
    <ion-input type="text" [(ngModel)]="recette.titre" name="titreRecette"></ion-input>
    <ion-input type="text" [(ngModel)]="recette.texte" name="texteRecette"></ion-input>
    <ion-button type="submit" block expand="full" fill="solid" color="light">Ajouter une recette</ion-button>
  </form>
</ion-content>